---
import VideoProject from "./VideoProject.svelte";
import Project from "./Project.astro";
import TwitchPlays from "../images/projects/twitchplays.webp";
---

<div class="flex h-fit flex-col items-center pt-20 [perspective:1000px]">
	<div class="w-full max-w-[1440px]">
		<VideoProject
			image_src="/images/projects/chess-opencv.webp"
			image_alt="computer vision chess bot"
			position="left"
			video_src="/videos/chess_opencv_demo.webm"
			title="Computer Vision Chess Bot"
			description={`
                A script that plays against opponents on lichess. Uses
                OpenCV to detect the board and pieces, and the Stockfish
                chess engine to determine the best moves. Then uses
                PyAutoGUI to play the moves on the browser.
            `}
			tags={[
				{
					text: "Python",
					textColor: "white",
					bgColor: "var(--color-python)",
				},
				{
					text: "OpenCV",
					textColor: "white",
					bgColor: "var(--color-opencv)",
				},
				{
					text: "PyAutoGUI",
					textColor: "white",
					bgColor: "black",
				},
			]}
			client:visible
		/>
		<Project
			position="right"
			image={TwitchPlays}
			alt="Twitch Plays X"
			href="https://github.com/liyunze-coding/TwitchPlaysX"
			title="Twitch Plays X"
			description={`Allow Twitch chatters to play games such as Pokemon!
					Chatters can enter messages such as "up up down down left
					right B A" and the Python program will trigger the
					corresponding keypresses.`}
			tags={[
				{
					text: "win32API",
					bgColor: "var(--color-win32api)",
					textColor: "white",
				},
				{
					text: "Python",
					bgColor: "var(--color-python)",
					textColor: "white",
				},
			]}
		/>
	</div>
</div>
