@import "tailwindcss";

@theme {
	--color-primary: #fafafa;
	--color-secondary: #1d1c20;
	--color-accent: #72ffff;
	--color-muted-foreground: #ccc;

	--animate-fadeIn: fadeIn 0.5s ease-in-out;
	--animate-fadeUp: fadeUp 0.5s ease-in-out;
	--animate-glow: glow 2s ease infinite;

	/* --gradient-primary:  */

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 100%;
		}
	}

	@keyframes fadeUp {
		0% {
			opacity: 0;
			translate: 0px 10px;
		}

		50% {
			opacity: 100%;
			translate: 0px 0px;
		}
	}

	@keyframes glow {
		0% {
			scale: 1;
			opacity: 100%;
		}
		100% {
			scale: 4;
			opacity: 5%;
		}
	}
}

.view-fadeUp {
	translate: 0px 30px;
	opacity: 0;

	transition: all 0.5s ease;
}

.view-appear {
	translate: 0px 0px;
	opacity: 100%;
}
