---
import Card from "../global/Card.astro";
import Line from "../global/NetworkLine.astro";
import Skill from "./Skill.astro";
---

<div id="Experience" class="h-fit">
	<div class="flex flex-col items-center">
		<div class="w-[90%] md:w-[600px]">
			<Line height="50px" />
			<Skill
				title="Content Creation"
				primaryColor="#9D76C1"
				tags={[
					{ text: "OBS", bgColor: "#141414" },
					{
						text: "DaVinci Resolve",
						bgColor: "white",
						hoverTextColor: "black",
					},
					{
						text: "Twitch",
						bgColor: "var(--color-purple-500)",
					},
					{
						text: "YouTube",
						bgColor: "red",
					},
					{
						text: "CapCut",
						bgColor: "white",
						hoverTextColor: "black",
					},
				]}
			/>
			<Line height="50px" />
			<Skill
				primaryColor="#9D76C1"
				title="Mobile Development"
				tags={[
					{
						text: "Android",
						bgColor: "#106539",
					},
					{
						text: "Java",
						bgColor: "var(--color-java)",
					},
					{
						text: "Kotlin",
						bgColor: "var(--color-kotlin)",
					},
				]}
			/>
		</div>
	</div>
</div>
