---
import Card from "../global/Card.astro";
import Line from "../global/NetworkLine.astro";
import Skill from "./Skill.astro";
---

<div class="h-fit w-full pt-20">
	<h1 class="text-center text-5xl">Skills</h1>
	<div class="flex flex-col items-center">
		<div class="w-[90%] pt-10 md:w-[600px] lg:w-1/2">
			<Skill
				className="view-fadeUp"
				title="Frontend Development"
				primaryColor="#19a7ce"
				tags={[
					"HTML",
					"CSS",
					"Javascript",
					"Typescript",
					"Svelte",
					"React",
					"Vue",
					"WordPress",
					"Astro",
					"TailwindCSS",
				]}
			/>
			<Line height="50px" />
			<Skill
				className="view-fadeUp"
				title="Backend Development"
				primaryColor="#474F7A"
				tags={[
					"Python",
					"Typescript",
					"C#",
					"Kotlin",
					"PHP",
					"PostgreSQL",
					"MySQL",
					"MongoDB",
					"Supabase",
				]}
			/>
			<Line height="50px" />
			<Skill
				className="view-fadeUp"
				title="Data Science"
				primaryColor="#a1eebd"
				tags={[
					"Python",
					"R",
					"OpenCV",
					"SAS",
					"MySQL",
					"Pandas",
					"Selenium",
					"BeautifulSoup4",
				]}
			/>
		</div>
	</div>
</div>
