<a
	class="sticky top-5 left-5 ml-10 text-xl bg-white w-fit px-5 py-1 rounded-lg flex justify-center items-center gap-2"
	href="/blog"
	style="color: black; text-decoration: none;"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		stroke="currentColor"
		class="size-5"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M15.75 19.5 8.25 12l7.5-7.5"></path>
	</svg>

	Back
</a>
