---
import Card from "../elements/Card.astro";
import Line from "../elements/NetworkLine.astro";
---

<div id="Experience" class="h-fit py-20">
	<h1 class="text-5xl text-center">Experience</h1>
	<div class="flex flex-col items-center pt-10">
		<div class="w-[90%] md:w-[600px]">
			<Card primaryColor="#F6DFD8">
				<div class="card-content md:px-8 md:py-8 px-4 py-4">
					<div class="flex flex-col justify-start w-full mb-3 gap-1">
						<h2 class="font-bold text-xl">
							Frontend Web Developer Intern
						</h2>
						<h3 class="font-bold">@ Studio20 Malaysia</h3>
						<h3>Jan - April 2024</h3>
					</div>
					<hr class="w-full mb-3" />
					<p class="mb-3">
						During my internship, I learnt how to do WordPress and
						further enhanced my skills in PHP. I also learnt how to
						closely work with UI/UX designers and pay close
						attention to details with the design I am given.
					</p>
					<h3 class="mb-1 font-bold text-lg">Relevant skills:</h3>
					<ul class="list-disc list-inside">
						<li>WordPress & PHP</li>
						<li>NextJS</li>
						<li>Typescript</li>
						<li>TailwindCSS</li>
						<li>Adobe XD</li>
					</ul>
				</div>
			</Card>
			<Line height="50px" />
			<Card primaryColor="#FFAC21">
				<div class="card-content md:px-8 md:py-8 px-4 py-4">
					<div class="flex flex-col justify-start w-full mb-3 gap-1">
						<h2 class="font-bold text-xl">
							Diploma in Computer Science
						</h2><h3>Jan 2022 - 2024</h3>
					</div>
					<hr class="w-full mb-3" />
					<h3 class="mb-1 font-bold text-lg">Achievements</h3>
					<ul class="list-disc list-inside">
						<li>
							4-time Dean's List Award recipient (&gt;3.5 GPA)
						</li>
						<li>3.8 CGPA</li>
						<li>President of Computer Programming Club</li>
						<li>Vice President of Diploma Union</li>
					</ul>
				</div>
			</Card>
		</div>
	</div>
</div>

<style>
	.card-content {
		display: flex;
		flex-direction: column;
		background-image: radial-gradient(
			rgba(255, 255, 255, 0.1) 1px,
			transparent 1px
		);
		background-position: 50% 50%;
		background-size: 1.1rem 1.1rem;
		border-radius: 1.25rem;
		overflow: hidden;
	}
</style>
