---
import Card from "../elements/Card.astro";
import Line from "../elements/NetworkLine.astro";
---

<div id="Experience" class="h-fit">
	<h1 class="text-center text-5xl">Experience</h1>
	<div class="flex flex-col items-center pt-10">
		<div class="w-[90%] md:w-[600px]">
			<Card primaryColor="#F6DFD8">
				<div class="card-content px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">
							Bachelor of Computer Science student
						</h2>
						<h3>July 2024 - Present</h3>
					</div>
					<hr class="mb-3 w-full" />
					<p class="mb-3">
						Currently pursuing my Bachelor's degree in Computer
						Science in Australia as a 50% Vice-Chancellor Scholar.
					</p>
					<h3 class="mb-1 text-lg font-bold">Relevant skills:</h3>
					<div
						class="flex flex-col items-start justify-start gap-0 md:flex-row md:gap-10"
					>
						<ul class="list-inside list-disc">
							<li>Java</li>
							<li>Kotlin</li>
							<li>C#</li>
							<li>Vue.JS</li>
						</ul>
						<ul class="list-inside list-disc">
							<li>MongoDB</li>
							<li>PostgreSQL</li>
						</ul>
					</div>
				</div>
			</Card>
			<Line height="50px" />
			<Card primaryColor="#F6DFD8">
				<div class="card-content px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">
							Lead Full Stack Developer
						</h2>
						<h3 class="font-bold">@ JW BizTech</h3>
						<h3>Dec 2024 - Present</h3>
					</div>
					<hr class="mb-3 w-full" />
					<p class="mb-3">
						Led implementation of frontend technology stack for
						websites. Worked closely with UI/UX designers to
						translate designs into code, and with backend developers
						to ensure smooth integration with CMS.
					</p>
					<h3 class="mb-1 text-lg font-bold">Relevant skills:</h3>

					<ul class="list-inside list-disc">
						<li>Astro</li>
						<li>Typescript</li>
						<li>TailwindCSS</li>
					</ul>
				</div>
			</Card>
			<Line height="50px" />
			<Card primaryColor="#F6DFD8">
				<div class="card-content px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">
							Frontend Web Developer Intern
						</h2>
						<h3>Jan 2024 - April 2024</h3>
					</div>
					<hr class="mb-3 w-full" />
					<p class="mb-3">
						During my internship, I learnt how to build WordPress
						sites and further enhance my skills in PHP. I also
						learnt how to closely work with UI/UX designers and pay
						close attention to details with the designs I am given.
					</p>
					<h3 class="mb-1 text-lg font-bold">Relevant skills:</h3>
					<div
						class="flex flex-col items-start justify-start gap-0 md:flex-row md:gap-10"
					>
						<ul class="list-inside list-disc">
							<li>WordPress & PHP</li>
							<li>Typescript</li>
							<li>TailwindCSS</li>
						</ul>
						<ul class="list-inside list-disc">
							<li>Adobe XD</li>
							<li>NextJS & React</li>
						</ul>
					</div>
				</div>
			</Card>
		</div>
	</div>
</div>

<style>
	.card-content {
		display: flex;
		flex-direction: column;
		background-image: radial-gradient(
			rgba(255, 255, 255, 0.1) 1px,
			transparent 1px
		);
		background-position: 50% 50%;
		background-size: 1.1rem 1.1rem;
		border-radius: 1.25rem;
		overflow: hidden;
	}
</style>
