---
import NavBar from "../components/global/NavBar.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import ContactComponent from "../components/contact/ContactComponent.astro";
import Footer from "../components/global/FooterComponent.astro";
---

<PageLayout title="Contact" description="Have an idea? Contact Ryan here!">
	<div id="contact-component" class="mt-10 pt-20">
		<h1 class="text-center text-5xl">Contact</h1>

		<div class="mt-10">
			<ContactComponent />
		</div>
	</div>
	<Footer />
</PageLayout>
