---
import NavBar from "../components/global/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import ContactComponent from "../components/contact/ContactComponent.astro";
import Card from "../components/global/Card.astro";
import Footer from "../components/global/FooterComponent.astro";
---

<Layout
	title="Contact"
	description="Find out how to contact RythonDev, for sponsorship offers or collaboration opportunities!"
>
	<NavBar />
	<div id="contact-component" class="mt-10 pt-20">
		<h1 class="text-center text-5xl">Contact</h1>

		<div class="mt-10">
			<ContactComponent />
		</div>
	</div>
	<Footer />
</Layout>
