---
import NavBar from "../components/sections/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import EducationComponent from "../components/sections/EducationComponent.astro";
---

<Layout title="Education" description="Find out RythonDev's previous education">
    <NavBar />
    <div id="Education" class="mt-10">
        <EducationComponent />
    </div>
</Layout>
