---
import ExperienceComponent from "../components/experience/ExperienceComponent.astro";
import MoreExperience from "../components/experience/MoreExperience.astro";
import Footer from "../components/global/FooterComponent.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout
	title="Experience"
	description="Find out RythonDev's previous education"
	thumbnail="/images/profile/contact_photo.webp"
>
	<div id="Experience" class="pt-30">
		<ExperienceComponent />
		<MoreExperience />
	</div>
	<Footer />
</PageLayout>
