---
import NavBar from "../components/sections/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import EducationComponent from "../components/sections/ExperienceComponent.astro";
import Footer from "../components/sections/FooterComponent.astro";
---

<Layout
	title="Experience"
	description="Find out RythonDev's previous education"
>
	<NavBar />
	<div id="Experience" class="mt-10">
		<EducationComponent />
	</div>
	<Footer />
</Layout>
