---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import NetworkLine from "../components/NetworkLine.astro";
import WhatIDo from "../components/WhatIDo.astro";
import Intro from "../components/Intro.svelte";
import Projects from "../components/Projects.svelte";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Card from "../components/Card.astro";
---

<Layout title="Ryan's Portfolio">
    <NavBar />
    <div id="home" class="pt-20 flex justify-center items-center">
        <div class="w-[90%] xl:w-1/2 lg:w-1/2 max-w-[1080px]">
            <Card bgColor="#252525" primaryColor="#BEADFA" scaleOnHover={false}>
                <Intro client:load />
            </Card>
        </div>
    </div>

    <div id="what-i-do">
        <NetworkLine height="70px" />
        <WhatIDo />
    </div>
    <div id="projects">
        <Projects client:visible />
    </div>
    <div id="skills">
        <Skills />
    </div>
    <div id="education">
        <Education />
    </div>
    <div id="contact">
        <Contact />
    </div>
</Layout>
