---
import NavBar from "../components/global/NavBar.tsx";
import Layout from "../layouts/Layout.astro";
import NetworkLine from "../components/global/NetworkLine.astro";
import Intro from "../components/home/Intro.astro";
import Projects from "../components/projects/ProjectsComponent.astro";
import Experience from "../components/experience/ExperienceComponent.astro";
import Skills from "../components/skills/SkillsComponent.astro";
import Contact from "../components/contact/ContactComponent.svelte";
import Footer from "../components/global/FooterComponent.astro";
---

<Layout
	title="Ryan's Portfolio"
	description="Ryan is a software developer, streamer and Computer Science undergraduate. Learn more about him and his skills here!"
>
	<NavBar client:load />
	<div id="home" class="flex items-center justify-center pt-32">
		<Intro />
	</div>
	<NetworkLine height="70px" />
	<div id="education">
		<div class="mx-auto mb-10 h-[1px] w-1/3 bg-[#404040]"></div>
		<Experience />
	</div>
	<div id="projects">
		<div class="pt-20">
			<h1 class="mb-10 text-center text-5xl">Projects</h1>
			<Projects />
		</div>
	</div>
	<div id="skills">
		<Skills />
	</div>
	<div id="contact" class="pt-20">
		<Contact />
	</div>
	<Footer />
</Layout>
<script is:inline>
	location.search.includes("?uwu") &&
		document.documentElement.classList.add("uwu");
</script>
<style is:global>
	.uwu #uwu {
		display: flex;
	}
</style>
