---
import NavBar from "../components/sections/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectsComponent from "../components/sections/ProjectsComponent.svelte";
---

<Layout title="Projects" description="View what projects RythonDev has made">
    <NavBar />
    <div id="what-i-do" class="mt-10 pb-20">
        <ProjectsComponent />
    </div>
</Layout>
