---
import NavBar from "../components/sections/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import SkillsComponent from "../components/sections/SkillsComponent.astro";
import Line from "../components/elements/NetworkLine.astro";
import Card from "../components/elements/Card.astro";
import Footer from "../components/sections/FooterComponent.astro";
---

<Layout
    title="Skills"
    description="Learn what skills RythonDev has honed in the past few years"
>
    <NavBar />
    <div id="skills" class="mt-10 pb-20">
        <SkillsComponent />
        <Line height="50px" />
        <div class="mx-auto w-[90%] md:w-[600px]">
            <Card primaryColor="#9D76C1">
                <div class="card-content">
                    <div class="justify-left flex w-full flex-col">
                        <h2 class="text-2xl font-bold">Content Creation</h2>
                    </div>
                    <hr class="w-full" />
                    <p class="text-left">
                        Since I was little, I loved watching YouTube videos and
                        the idea of bringing joy and laughter to a wider
                        audience. Thus, I began my journey in content creation
                        through YouTube videos and Twitch streaming. I typically
                        do coworking & study streams to keep myself accountable
                        and encourage productivity amongst viewers. I also do
                        software and game development streams where I showcase
                        my work flow.
                    </p>
                    <div class="flex w-full flex-row flex-wrap justify-start">
                        <div
                            class="my-1 mr-1 w-fit cursor-default rounded-full bg-[#141414] px-3 py-1 text-white transition-colors duration-300 hover:bg-[#141414] hover:text-white md:bg-gray-500"
                        >
                            OBS
                        </div>
                        <div
                            class="my-1 mr-1 w-fit cursor-default rounded-full bg-gray-50 px-3 py-1 text-black transition-colors duration-300 hover:bg-gray-50 hover:text-black md:bg-gray-500 md:text-white"
                        >
                            DaVinci Resolve
                        </div>
                        <div
                            class="my-1 mr-1 w-fit cursor-default rounded-full bg-purple-500 px-3 py-1 text-white transition-colors duration-300 hover:bg-purple-500 md:bg-gray-500"
                        >
                            Twitch
                        </div>
                        <div
                            class="my-1 mr-1 w-fit cursor-default rounded-full bg-[#ff0000] px-3 py-1 text-white transition-colors duration-300 hover:bg-[#ff0000] hover:text-white md:bg-gray-500"
                        >
                            YouTube
                        </div>
                    </div>
                </div>
            </Card>
        </div>
    </div>
    <Footer />
</Layout>

<style>
    .card-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-image: radial-gradient(
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px
        );
        background-position: 50% 50%;
        background-size: 1.1rem 1.1rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0.5rem;
        border-radius: 1.25rem;
        overflow: hidden;
    }
</style>
