---
import { Image } from "astro:assets";
import contactPhoto from "@/components/images/contact_photo.webp";
import { AnimatedTooltip } from "@/components/ui/AnimatedToolTip";
---

<div
	class="relative flex w-full flex-col-reverse items-center justify-start gap-10 lg:h-[400px] lg:flex-row lg:items-start lg:justify-center"
>
	<div
		class="relative flex aspect-[3/4] w-[300px] items-end justify-end lg:aspect-auto lg:w-1/2"
	>
		<Image
			src={contactPhoto}
			alt="Ryan"
			width={300}
			loading="lazy"
			class="absolute top-1/2 left-1/2 aspect-[3/4] -translate-1/2 rounded-3xl object-cover lg:top-0 lg:right-0 lg:-translate-x-10 lg:translate-y-5"
		/>
		<div
			class="absolute top-1/2 left-1/2 -z-10 aspect-[3/4] w-[300px] -translate-1/2 rounded-3xl bg-[#c98703] blur-lg lg:top-0 lg:right-0 lg:-translate-x-10 lg:translate-y-5"
		>
		</div>
	</div>
	<div
		class="flex w-full flex-col items-center justify-start text-left lg:h-full lg:w-1/2 lg:items-start lg:justify-center"
	>
		<h1
			class="[font-family:'Antonio',sans-serif] text-5xl leading-14 font-bold uppercase"
		>
			have an idea? <br /> let's chat!
		</h1>

		<div class="mt-10 flex w-fit items-center justify-center">
			<AnimatedTooltip
				href="mailto:rythondev@gmail.com"
				text="Email me!"
				client:visible
				className="text-xl font-bold underline transition-colors duration-75 hover:text-blue-500"
				>Send me a Message</AnimatedTooltip
			>
		</div>
	</div>
</div>

<style>
	#title {
		background: linear-gradient(
			90deg,
			#85e6c5 0%,
			#a084e8 45%,
			#33bbc5 100%
		);

		background-size: 300%;

		background-clip: text;
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}
</style>
