---
import { Image } from "astro:assets";
import contactPhoto from "@/components/images/contact_photo.webp";
import Socials from "../socials/Socials.astro";

import pfp_new from "../images/pfp_new.webp";
import Card from "../global/Card.astro";
---

<div class="relative flex w-full items-center justify-center">
	<div class="w-[90%] md:w-[600px] lg:w-1/2">
		<Card shadowColor="rgb(4, 57, 57)" className="animate-fadeIn">
			<div class="flex flex-col items-center justify-center gap-2 py-10">
				<div class="px-5">
					<Image
						src={pfp_new}
						alt="Profile picture"
						class="border-accent aspect-square rounded-full border-2 border-solid object-cover"
						width={150}
					/>
				</div>
				<div class="text-center">
					<div class="text-3xl">Ryan Lee</div>
					<div class="text-muted-foreground text-xl">
						Software Developer &amp; Content Creator
					</div>
				</div>
				<div
					class="mt-5 flex flex-col items-stretch justify-center gap-5 md:flex-row"
				>
					<div
						class="flex flex-col justify-center text-center md:text-left"
					>
						<div class="text-muted-foreground text-base">
							Email me at:
						</div>
						<div class="text-white">
							<a
								href="mailto:rythondev@gmail.com"
								class="hover:text-blue-400"
								>rythondev@gmail.com</a
							>
						</div>
					</div>

					<!-- vertical divider -->
					<div class="bg-accent h-[1px] w-full md:h-auto md:w-[1px]">
					</div>

					<div class="flex flex-row items-center justify-center">
						<Socials />
					</div>
				</div>
			</div>
		</Card>
	</div>
</div>

<style>
	#title {
		background: linear-gradient(
			90deg,
			#85e6c5 0%,
			#a084e8 45%,
			#33bbc5 100%
		);

		background-size: 300%;

		background-clip: text;
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}
</style>
