---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    /* Fredoka Fonts */
    @font-face {
        font-family: "Fredoka";
        src: url("fonts/Fredoka-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "Fredoka";
        src: url("fonts/Fredoka-Light.ttf") format("truetype");
        font-weight: lighter;
        font-style: normal;
    }

    @font-face {
        font-family: "Fredoka";
        src: url("fonts/Fredoka-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Fredoka";
        src: url("fonts/Fredoka-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    /* Montserrat Fonts */
    @font-face {
        font-family: "Montserrat";
        src: url("fonts/Montserrat-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "Montserrat";
        src: url("fonts/Montserrat-Light.ttf") format("truetype");
        font-weight: lighter;
        font-style: normal;
    }

    @font-face {
        font-family: "Montserrat";
        src: url("fonts/Montserrat-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Montserrat";
        src: url("fonts/Montserrat-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Montserrat";
        src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
        font-weight: 600; /* You can adjust this value if needed */
        font-style: normal;
    }

    /* Poppins Fonts */
    @font-face {
        font-family: "Poppins-Light";
        src: url("fonts/Poppins-Light.ttf") format("truetype");
        font-weight: lighter;
        font-style: normal;
    }

    @font-face {
        font-family: "Poppins-Medium";
        src: url("fonts/Poppins-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Poppins-Regular";
        src: url("fonts/Poppins-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Montserrat", sans-serif;
        background: #202020;
        color: #fff;
    }
</style>
