---
import { HoverNavigation } from "@/components/ui/HoverNavigation";
import { Image } from "astro:assets";
import pfp from "@/components/images/pfp_new.webp";

const navLinks = [
	{
		label: "Home",
		link: "/",
	},
	{
		label: "Experience",
		link: "/experience",
	},
	{
		label: "Projects",
		link: "/projects",
	},
	{
		label: "Skills",
		link: "/skills",
	},
	{
		label: "Contact",
		link: "/contact",
	},
];
---

<div
	class="bg-secondary fixed top-5 left-1/2 z-30 box-border flex -translate-x-1/2 items-center justify-center overflow-auto rounded-full border-2 border-solid border-gray-700 px-5 py-3"
>
	<Image src={pfp} alt="Ryan" width={50} class="mr-3 rounded-full" />
	<HoverNavigation items={navLinks} client:load />
</div>
