---
import { HoverNavigation } from "@/components/ui/HoverNavigation";

const navLinks = [
	{
		label: "Home",
		link: "/",
	},
	{
		label: "Experience",
		link: "/experience",
	},
	{
		label: "Projects",
		link: "/projects",
	},
	{
		label: "Skills",
		link: "/skills",
	},
	{
		label: "Contact",
		link: "/contact",
	},
];
---

<div
	class="bg-secondary fixed top-5 left-1/2 z-30 box-border flex -translate-x-1/2 items-center justify-center gap-5 overflow-auto rounded-full border-2 border-solid border-gray-700 px-5 py-3"
>
	<img
		src="/images/pfp_new.webp"
		alt="Ryan"
		width={50}
		class="rounded-full"
	/>
	<HoverNavigation items={navLinks} client:load />
</div>
